<div class="flex w-[20vw] group">
    <svg id="ArchieBoxheader" class="group-hover:scale-125 " viewBox="0 0 105 105" id="box" style="overflow:hidden; height:10vh">
        <polyline id="coverBook" points="0,65 6.5,0 81,0 88,65 81,65 76,12 13,12 6.5,65 0,65" style="fill:none;stroke:white;stroke-width:0.4vh"/>
        <polyline id="libroBook1" points="0,0 51,0 51,8  0,8 0,0" style="fill:none;stroke:white;stroke-width:0.4vh" />
        <polyline id="libroBook2" points="0,0 51,0 51,8  0,8 0,0" style="fill:none;stroke:white;stroke-width:0.4vh" />
        <polyline id="libroBook3" points="0,0 51,0 51,8  0,8 0,0" style="fill:none;stroke:white;stroke-width:0.4vh" />
        <polyline id="baseBook" points="0,0 105,0 100,35 5,35 0,0" style="fill:none;stroke:white;stroke-width:0.4vh" />
    </svg>
    <div id="ArchieBoxheader" width="20vh" class="flex px-2 items-center text-white group-hover:text-gray-500">
        <div class="p-0">
            <h1 class="font-bold text-[5vh] " style="font-family:Copperplate ">ArchiBige</h1>
            <h1 class=" text-[1.5vh]" style="font-family:Lucida Console ">Procesos Documentales</h1>
        </div>
        <h1 class="p-2 font-bold text-[5vh]" style="font-family:Copperplate">Doc</h1>
    </div>
</div>