<svg id="bookBox" class="overflow-visible" viewBox="0 0 105 105" id="box"
        style="height:7rem">
        <polyline id="coverBook" points="0,65 6.5,0 81,0 88,65 81,65 76,12 13,12 6.5,65 0,65"
            style="fill:none;stroke:#991e1e;stroke-width:0.15rem" />
        <polyline id="libroBook1" points="0,0 51,0 51,8  0,8 0,0" style="fill:none;stroke:#991e1e;stroke-width:0.15rem" />
        <polyline id="libroBook2" points="0,0 51,0 51,8  0,8 0,0" style="fill:none;stroke:#991e1e;stroke-width:0.15rem" />
        <polyline id="libroBook3" points="0,0 51,0 51,8  0,8 0,0" style="fill:none;stroke:#991e1e;stroke-width:0.15rem" />
        <polyline id="baseBook" points="0,0 105,0 100,35 5,35 0,0" style="fill:none;stroke:#991e1e;stroke-width:0.15rem" />
</svg>


