<div id="home6" class=" overflow:hidden py-24 sm:py-32 bg-cover bg-contain bg-center bg-no-repeat">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:pr-8 bg-[#0a192f] p-3 rounded lg:pt-4">
                <div class="lg:max-w-lg">
                    <h2 class="animate-bounce text-lg font-semibold leading-8 tracking-tight text-indigo-200">Estas
                        interesado?</h2>
                    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Contactanos</p>
                    <p class="mt-6 text-sm lg:text-lg leading-8 text-gray-300">Puedes enviar un mensaje o comunicarte
                        con nosotros a los siguientes
                        canales, se le respondera a la mayor brevedad posible.
                    </p>
                    <dl class="mt-10 max-w-xl space-y-8 text-sm lg:text-base leading-7 text-gray-600 lg:max-w-none">
                        <div class="relative group hover:scale-110 flex pl-2">
                            <svg class="h-5 w-5 group-hover:text-indigo-500 text-white"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.58 122.88" fill="currentColor"
                                aria-hidden="true">
                                <path
                                    d="M25.8,111.27,44.08,94.69a3.46,3.46,0,0,1,2.41-1h66.18a2,2,0,0,0,2-1.95V8.9a2,2,0,0,0-2-1.95H8.9A1.95,1.95,0,0,0,7,8.9V91.76a1.95,1.95,0,0,0,2,1.95H22.33a3.48,3.48,0,0,1,3.47,3.48v14.08Zm1.17-45a3.48,3.48,0,0,0,0,7H68a3.48,3.48,0,0,0,0-7Zm0-39.86a3.48,3.48,0,0,0,0,7H94.69a3.48,3.48,0,1,0,0-6.95Zm0,19.93a3.48,3.48,0,0,0,0,6.95H87.66a3.48,3.48,0,0,0,0-6.95Zm20.9,54.32-23,21.07a3.48,3.48,0,0,1-6.06-2.32V100.66H8.9A8.91,8.91,0,0,1,0,91.76V8.9A8.91,8.91,0,0,1,8.9,0H112.67a8.93,8.93,0,0,1,8.91,8.9V91.76a8.93,8.93,0,0,1-8.91,8.9Z" />
                            </svg>
                            <dt class="hidden lg:inline pl-2  inline font-semibold text-gray-300">
                                Correo oficial:
                            </dt>
                            <dd class="pl-2 inline text-gray-200">archibigedoc@gmail.com</dd>
                        </div>
                        <div class="relative group hover:scale-110 flex pl-2">
                            <svg class="h-5 w-5 text-white group-hover:text-indigo-500"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.58 122.88" fill="currentColor"
                                aria-hidden="true">
                                <path
                                    d="M25.8,111.27,44.08,94.69a3.46,3.46,0,0,1,2.41-1h66.18a2,2,0,0,0,2-1.95V8.9a2,2,0,0,0-2-1.95H8.9A1.95,1.95,0,0,0,7,8.9V91.76a1.95,1.95,0,0,0,2,1.95H22.33a3.48,3.48,0,0,1,3.47,3.48v14.08Zm1.17-45a3.48,3.48,0,0,0,0,7H68a3.48,3.48,0,0,0,0-7Zm0-39.86a3.48,3.48,0,0,0,0,7H94.69a3.48,3.48,0,1,0,0-6.95Zm0,19.93a3.48,3.48,0,0,0,0,6.95H87.66a3.48,3.48,0,0,0,0-6.95Zm20.9,54.32-23,21.07a3.48,3.48,0,0,1-6.06-2.32V100.66H8.9A8.91,8.91,0,0,1,0,91.76V8.9A8.91,8.91,0,0,1,8.9,0H112.67a8.93,8.93,0,0,1,8.91,8.9V91.76a8.93,8.93,0,0,1-8.91,8.9Z" />
                            </svg>
                            <dt class="hidden lg:inline  pl-2 inline font-semibold text-gray-300">
                                Correo personal:
                            </dt>
                            <dd class="pl-2 inline text-gray-200">iliasofia9@gmail.com</dd>
                        </div>

                        <div class="relative group hover:scale-110 flex pl-2">
                            <svg class=" group-hover:fill-indigo-500" xmlns="http://www.w3.org/2000/svg" width="20"
                                height="20" fill="white" class="bi bi-telephone-forward" viewBox="0 0 16 16">
                                <path
                                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z" />
                            </svg>

                            <dt class="pl-2 inline font-semibold text-gray-300">
                                Telefono fijo:
                            </dt>
                            <dd class="pl-2 inline text-gray-200">605-6937120 </dd>
                        </div>

                        <div class="relative group hover:scale-110 flex pl-2">
                            <svg class=" group-hover:[]" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                fill="white" class="bi bi-phone" viewBox="0 0 16 16">
                                <path
                                    d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                                <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>

                            <dt class="inline font-semibold text-gray-300">
                                Celulares:
                            </dt>
                            <dd class="pl-2 inline text-gray-200">3145087725 – 312 673 90 64</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="flex min-h-full items-center justify-center py-12 px-4 bg-gray-200 sm:px-6 lg:px-8">
                <div class="w-full max-w-md space-y-8">
                    <h3 class="text-xl font-medium leading-6 text-gray-500 animate-pulse ">ENVIAR MENSAJE</h3>
                    <form class="mt-8 space-y-6" action="#" method="POST">
                        <input type="hidden" name="remember" value="true">
                        <div class="-space-y-px rounded-md shadow-sm">
                            <div>
                                <input id="name" name="email" type="name" autocomplete="email" required
                                    class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                                    placeholder="Name">
                            </div>
                            <div class="py-3">
                                <input id="email-address" name="email" type="email" autocomplete="email" required
                                    class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                                    placeholder="Correo electronico">
                            </div>
                            <div class="py-3">
                                <textarea name="message" rows="3"
                                    class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                                    placeholder="Texto"></textarea>
                            </div>
                        </div>
                        <div>
                            <button type="submit"
                                class="group relative flex w-full justify-center rounded-md border border-transparent bg-cyan-800 py-2 px-4 text-sm font-medium text-white hover:bg-cyan-600 focus:outline-none focus:ring-2 focus:bg-cyan-500 focus:ring-offset-2">
                                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                                    <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.58 122.88"
                                        fill="currentColor" aria-hidden="true">
                                        <path
                                            d="M25.8,111.27,44.08,94.69a3.46,3.46,0,0,1,2.41-1h66.18a2,2,0,0,0,2-1.95V8.9a2,2,0,0,0-2-1.95H8.9A1.95,1.95,0,0,0,7,8.9V91.76a1.95,1.95,0,0,0,2,1.95H22.33a3.48,3.48,0,0,1,3.47,3.48v14.08Zm1.17-45a3.48,3.48,0,0,0,0,7H68a3.48,3.48,0,0,0,0-7Zm0-39.86a3.48,3.48,0,0,0,0,7H94.69a3.48,3.48,0,1,0,0-6.95Zm0,19.93a3.48,3.48,0,0,0,0,6.95H87.66a3.48,3.48,0,0,0,0-6.95Zm20.9,54.32-23,21.07a3.48,3.48,0,0,1-6.06-2.32V100.66H8.9A8.91,8.91,0,0,1,0,91.76V8.9A8.91,8.91,0,0,1,8.9,0H112.67a8.93,8.93,0,0,1,8.91,8.9V91.76a8.93,8.93,0,0,1-8.91,8.9Z" />
                                    </svg>
                                </span>
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>