<div id="servicios"></div>
<div  class="  grid grid-cols-1 lg:grid-cols-2 justify-center items-center mx-8">
  <div>
    <h2 class="text-3xl font-bold tracking-tight text-[#ba4949] sm:text-4xl">NUESTROS SERVICIOS</h2>
    <p class="mt-4 text-gray-500">Dentro de los servicios, ofrecemos: </p>

    <dl class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 lg:gap-x-8">
      <div class="flex border-t border-gray-200 ">
        <dt class="font-lg text-[#ba4949]">1.</dt>
        <dd id="home4item" class="text-base text-[transparent]">Diagnóstico de Archivos en su fase inicial.</dd>
      </div>
      <div class="flex border-t border-gray-200">
        <dt class="font-lg text-[#ba4949]">2.</dt>
        <dd id="home4item" class="text-base text-[transparent]">Gestión documental, asesorías e
          interventorías.
          <ul class="list-disc mx-5">
            <li>Cuadro de Clasificación Documental – CCD</li>
            <li>Tablas de Retención Documental – TRD</li>
            <li>Tablas de Valoración Documental – TVD</li>
            <li>Plan Institucional de Archivo PINAR</li>
            <li>Programa de Gestión Documental</li>
            <li>Sistema Integrado de Conservación</li>
          </ul>
        </dd>
      </div>
      <div class="flex border-t border-gray-200">
        <dt class="font-lg text-[#ba4949]">3.</dt>
        <dd id="home4item" class="text-base text-[transparent]">Asesorías Técnicas en Gestión Documental.</dd>
      </div>
      <div class="flex border-t border-gray-200">
        <dt class="font-lg text-[#ba4949]">4.</dt>
        <dd id="home4item" class="text-base text-[transparent]">Organización de Archivos de Gestión y Fondos Acumulados.
        </dd>
      </div>

    </dl>
  </div>

  <div class="grid grid-rows-2 w-[85%] h-[85%] grid-flow-col gap-4 sm:py-16">
    <img id="imghome4" class="row-span-2 w-full h-full bg-auto bg-no-repeat" src="../../../assets/servicios/estante4.png"/>
    <img id="imghome4" class="w-full h-full bg-auto bg-no-repeat" src="../../../assets/servicios/estante1.png"/>
    <img id="imghome4" class="w-full h-full bg-auto bg-no-repeat" src="../../../assets/servicios/estante3.png"/>
  </div>
</div>