<div id="ArchieBox0" class="overflow-hidden h-[70vh]">
    <svg viewBox="0 0 10 12">
        <polygon id="dia1" points="10,0 7.6,0 3.3,5 5.9,5" style="fill:#e9b200" />
        <polygon id="dia2" points="5.5,5.4 4.3,5.4 2.2,8 3.5,8 " style="fill:#e9b200" />
        <polygon id="dia3" points="10,0.4 10,6  4.5,12.5 0,12.5" style="fill:#e9b200" />
        <polygon id="dia4" points="8.8,10 6.8,10 4.7,12.5 6.7,12.5 " style="fill:#e9b200" />
    </svg>
    <div id="ArchieBox" class="p-3 grid grid-cols-2 gap-0 items-center">
        <div class="p-0">
            <h1 id="Archie" class="font-bold" style="font-family:Copperplate ">ArchiBige</h1>
            <h1 id="ProcesosArchie" class=" " style="font-family:Lucida Console ">ProcesosDocumentales</h1>
        </div>
        <h1 id="Archie1" class="font-bold" style="font-family:Copperplate">Doc</h1>
    </div>
</div>