

    <div class="bg-white">
        <div class="pt-6">
         
          <!-- Titulo sobre nosotros -->
          <div class="mx-auto max-w-2xl px-4 pt-10 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pt-16 lg:pb-24">
            <div class="lg:col-span-1 lg:border-r lg:border-gray-200 lg:pr-8">
              <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Sobre nosotros</h1>
            </div>

            <!-- Sobre nosotros text  -->
            <div class="py-10 lg:row-span-3   lg:border-r lg:border-gray-200 lg:pt-6 lg:pb-16 lg:pr-8">
              <!-- sobre nosotros-->
              <div>
                
                <div class="space-y-6">
                  <p class="text-base text-gray-900">
                    Somos una Empresa privada consultora de Archivos, bibliotecas y centro de documentación, orientada
                     a brindar capacitaciones y asesorías especializadas relacionada con los procesos documentales y 
                     suministros de insumos; buscando, entre otros, gestionar y digitalizar la documentación para tener 
                     la información al alcance en cualquier momento. 
    
                </p>
                </div>
              </div>
        
              <div class="mt-10">
                <h3 class="text-sm font-medium text-gray-900">Servicios</h3>
        
                <div class="mt-4">
                  <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                    <li class="text-gray-400"><span class="text-gray-600">Gestión documental, asesorías e interventorías</span></li>
        
                    <li class="text-gray-400"><span class="text-gray-600">Inventarios documentales</span></li>
        
                    <li class="text-gray-400"><span class="text-gray-600">Instrumentos Archivísticos, 
                    (CCD, TRD, TVD, PINAR, PGD, SIC)
                    </span></li>
        
                    <li class="text-gray-400"><span class="text-gray-600">Organización de archivos</span></li>
                    <li class="text-gray-400"><span class="text-gray-600">Digitalización de documentos. </span></li>
                    <li class="text-gray-400"><span class="text-gray-600">Insumos de Cajas, carpetas, ganchos</span></li>
                    <li class="text-gray-400"><span class="text-gray-600">Insumos dotación seguridad personal</span></li>
                    <li class="text-gray-400"><span class="text-gray-600">Insumos  material bibliográfico </span></li>
                    <li class="text-gray-400"><span class="text-gray-600">Catalogación bibliográficao¿ </span></li>
                </ul>
                </div>
              </div>
        
              <div class="mt-10">
                <h2 class="text-sm font-medium text-gray-900">Details</h2>
        
                <div class="mt-4 space-y-6">
                  <p class="text-sm text-gray-600">The 6-Pack includes two black, two white, and two heather gray Basic Tees. Sign up for our subscription service and be the first to get new, exciting colors, like our upcoming &quot;Charcoal Gray&quot; limited release.</p>
                </div>
              </div>
            </div>
        
            <!-- Imagen  -->
            <div class="mt-4 lg:col-span-1 lg:col-start-1 lg:mt-0">
              <h2 class="text-3xl tracking-tight text-gray-900">Product information</h2>
              
              <div class="aspect-w-3 aspect-h-2 overflow-hidden rounded-lg">
                <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-02.jpg" alt="Model wearing plain gray basic tee." class="h-full w-full object-cover object-center">
              </div>
        
  
        
                <button type="submit" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Add to bag</button>
              
            </div>
        
            
          </div>
        </div>
        </div>
    
