<div id="home2" class=" bg-white  bg-cover overflow:hidden bg-contain bg-center bg-no-repeat">
    <!-- Titulo sobre nosotros -->
    <div
      class="mx-auto lg:pt-20 max-w-2xl px-4 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8  ">
      <div class="lg:col-span-1 ">
      </div>

      <!-- Sobre nosotros text  -->
      <div class="lg:ml-36 lg:row-span-3 lg:col-span-2   ">

        <!-- sobre nosotros-->
        <div>
          <div class="lg:pr-8 mt-20 lg:mt-20">
            <h1 id="home2title" class="text-2xl  font-bold tracking-tight text-gray-700 sm:text-3xl">SOBRE NOSOTROS</h1>
          </div>
          <div class="space-y-6 my-6 lg:px-16">
            <p id="home2text" class="text-base text-[transparent]">
              Archibigedoc nace de la necesidad de una gestión eficiente 
              de la información generada por los organismos públicos y 
              privados.

            </p>
          </div>
          
          <div class="space-y-6 my-6 lg:px-16">
            <p id="home2text" class="text-base text-[transparent]">
              Somos una Empresa privada consultora de Archivos, bibliotecas y centro de documentación, orientada
              a brindar capacitaciones y asesorías especializadas relacionada con los procesos documentales y
              suministros de insumos; buscando, entre otros, gestionar y digitalizar la documentación para tener
              la información al alcance en cualquier momento.
            </p>
          </div>

        </div>
       

      </div>

      <!-- Imagen  -->
      <div class="mt-4 lg:col-span-1 lg:col-start-1 lg:mt-0">
        <app-diagonal width="20vh" heigth="20vh"></app-diagonal>
      </div>
    </div>
</div>




