<div id="home3" class="bg-white h-screen">
    <div class="pt-6">
      <app-header></app-header>
      <!-- Mision Vision texto -->
      <div class="mx-auto max-w-2xl px-4 pt-10 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pt-16 lg:pb-24">
        <div class="lg:col-span-1 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Mision y vision</h1>
        </div>
    
        <!-- Imagen -->
        <div class="mt-4 lg:row-span-3 lg:mt-0">
          
          <!-- <div class="aspect-w-3 aspect-h-2 overflow-hidden rounded-lg">
            <img src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-02.jpg" alt="Model wearing plain gray basic tee." class="h-full w-full object-cover object-center">
          </div> -->
            
            <div >

              <app-ball [text]="hola[0]"></app-ball>

              <div class="flex justify-end">
              <app-ball class="relative" [text]="hola[1]"></app-ball></div>
              <app-ball [text]="hola[2]"></app-ball>


            </div>
           
          
        </div>
    
        <div class=" lg:col-span-1 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8">
          <!-- Mision y vision -->
          <div class="mt-3">
            <div class="mt-4 space-y-6">
              <p class="text-sm text-gray-600">
                De acuerdo a la normatividad vigente las entidades oficiales y privadas con 
                funciones públicas deben organizar su documentación siguiendo los principios 
                archivísticos para garantizar su conservación y preservación.</p>
            </div>
          </div>
          <div>
            <h3 class="text-lg font-medium text-gray-900 mt-10 mb-2">Mision</h3>
    
            <div class="space-y-6">
              <p class="text-base text-gray-900">
                Archibigedoc es una entidad privada comprometida con la Gestión integral de documentos
                 y la difusión de la necesidad de preservar y conservar la documentación institucional,
                aplicando la normatividad vigente. 
            </p>
            </div>
          </div>
          <div>
            <h3 class="text-lg font-medium text-gray-900 mt-10 mb-2">Vision</h3>
    
            <div class="space-y-6">
              <p class="text-base text-gray-900">
                Para el año 2023 Ser una empresa reconocida a nivel Nacional por su compromiso y
                 aporte en la mejora de los procesos documentales de las organizaciones, así como en 
                 la mitigación del impacto ambiental por el uso de papel. 
            </p>
            </div>
          </div>
    
          
    
          
        </div>
      </div>
    </div>
    </div>
