
<div class="grid grid-cols-3 items-center align-self-center w-[50vh]">
<div id="r1" style="border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2vh solid blue;
  border-right: 2vh solid green;
  border-bottom: 2vh solid red;
  border-left: 2vh solid pink;
  width: 26vh;
  height: 26vh;
  transform: rotate(190deg)"></div>

<div id="r2" style="border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2vh solid blue;
  border-right: 2vh solid green;
  border-bottom: 2vh solid red;
  border-left: 2vh solid pink;
  width: 21vh;
  height: 21vh;
  transform: rotate(50deg)"></div>
  <h1  id="text" class="text-gray-200 text-[2.5vh]">{{text}}</h1>
</div>




