
<div  class="grid grid-cols-1 grid-rows-1 items-center place-items-center w-full h-full">
<div id="r1" style="border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2vh solid #001a47;
  border-right: 2vh solid #e9b200;
  border-bottom: 2vh solid #f2f2f2;
  border-left: 2vh solid #954f73;
  transform: rotate(190deg)" 
  class="h-64 w-64"
  ></div>
   

<div id="r2" style="border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2vh solid #001a47;
  border-right: 2vh solid #e9b200;
  border-bottom: 2vh solid #f2f2f2;
  border-left: 2vh solid #954f73;
  transform: rotate(50deg)"
  class="h-56 w-56"></div>
  <h1  id="textball" class="font-bold text-[transparent] text-2xl"
  >{{text}}</h1>
</div>




