<div id="landing" class="2xl:mx-auto 2xl:container mx-4 py-8">
    <div class="w-full relative flex items-center justify-center">
        <img src="https://i.ibb.co/4sYZ8gC/img-2.png" alt="dining" class="w-full h-full absolute z-0 hidden xl:block" />
        <img src="https://i.ibb.co/bbS3J9C/pexels-max-vakhtbovych-6301182-1.png" alt="dining" class="w-full h-full absolute z-0 hidden sm:block xl:hidden" />
        <img src="https://i.ibb.co/JKkzGDs/pexels-max-vakhtbovych-6301182-1.png" alt="dining" class="w-full h-full absolute z-0 sm:hidden" />
        <div class="bg-[#af3939] bg-opacity-80 md:my-16 lg:py-16 py-10 w-full md:mx-24 md:px-12 px-4 flex flex-col items-center justify-center relative z-40">
            <h1 class="text-4xl font-semibold leading-9 text-white text-center">¿Cómo cumplir con las normas archivísticas de
              la manera mas eficiente?</h1>
            <p class="text-base leading-normal text-center text-white mt-6">
              ProyectoGestión nace de la necesidad de una gestión
              eficiente de
              la información generada
              por los organismos públicos y privados
            </p>
            
                <button class="m-6 focus:outline-none focus:ring-offset-2 focus:ring border border-white sm:border-transparent w-full sm:w-auto bg-white py-4 px-6 hover:bg-opacity-75">Ver</button>
        </div>
    </div>
</div>
